* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
.header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}
.logo {
    height: 60px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.nav-links a:hover {
    color: rgb(126, 126, 126);
}
.container {
    margin-top: 100px; /* Offset for fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-align: center;
    font-size: 30px;
}
.settings-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.settings-section h2{
    margin-top: 0;
}